a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    text-decoration: none;
    display: inline;
    align-items: center;
}

div{
    text-align: center;
    align-items: center;
    border-bottom: 10px;
    background-color:darkcyan;
    height: 25px;
}

span{
    color: aliceblue;
    text-align: center;
    align-items: center;
    border-bottom: 10px;
    background-color:darkcyan;
    height: 25px;
}